.MainHome {
    display: flex;
    flex-direction: column;
    padding: 0px;
    height: 100vh;
    width: 100%;
    justify-content: center;
    /* Center content vertically */
    align-items: center;
    /* Center content horizontally */
}

#btncls {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    width: 100%;
    gap: 40px;
    /* Add space between buttons */
    margin-bottom: 10%;
    /* Add margin below button container */
}

.btn {
    width: 150px;
    /* Set the width for the button */
    padding: 10px;
    /* Adjust padding for better appearance */
    border: 1px solid #dc37b3; 
    /* Remove default border */
    border-radius: 5px;
    /* Round the corners */
   
    backdrop-filter: blur(10px);
    /* Set background color */
    color: white;
    /* Set text color */
    cursor: pointer;
    /* Change cursor to pointer */
    font-size: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Adjust font size */
}

.btn:hover {
    background-color: none;
    border: 1px solid #dc37b3;
    box-shadow: 5px 5px 15px rgb(244, 2, 232);
    /* Change border color on hover */
}

img {
    height: 400px;
    width: 40%;
  
}
svg{
    height: 1.5em;
    width: 1.5em;
}
#words {
    padding: 50px;
    width: 100%;
}
#head{
    font-size: 3em;
    color: #fefefe;
    font-family: "Prompt", sans-serif;
        font-weight: 200;
        font-style: normal;
}
#words p{
    font-size: 1.5em;
        
        background: linear-gradient(to right, #0f75fa, #f108d9,
            #fefefe);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.imgcnt {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    /* Use column direction for vertical layout */
    width: 100%;
    height: 70%;


    /* Add margin on the right */
}

/* From Uiverse.io by adamgiebl */
.cssbuttons-io-button {
    background: #a370f0;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
}

.cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}

.fade {
    animation: fadeEffect 10s ease-in-out;
}

@keyframes fadeEffect {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}